body {
    font-family: "tosh-a" !important;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "tosh-a";
    font-weight: normal;
}

/* Common styles start */

body {
    background-color: #fff;
}

.wp-theme-brc-arabia .container-fluid {
    padding-left: 55px;
    padding-right: 55px;
}

.container-theme {
    width: 80%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

section {
    position: relative;
    /* padding: 50px 0px; */
}

a {
    text-decoration: none;
}

a:focus,
a:focus-visible,
input:focus-visible {
    outline: none;
}

.xlTitle {
    font-size: 80px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -1.6px;
}

.largeTitle {
    font-size: 60px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -1.2px;
}

.mainTitle {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.96px;
}

.subTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.color-theme {
    color: #0C56B7;
}

.primary_bg,
.page-template-content-contact {
    background: #0C56B7;
}

.bg_theme_grey,
.single-product {
    background: #EBEFF3;
}

.btn_yellow {
    color: #EFF627;
}

.ctaBtn a {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s ease-in-out;
    position: relative;
    padding: 0px 1px 10px 12px;
    display: block;
}

.ctaBtn a:before {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 11px;
    border-top: 0px;
    border-right: 0px;
}

.ctaBtn a::after {
    content: '';
    width: 100%;
    height: 100%;
    border: 2px solid;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0px 11px;
    border-bottom: 0px;
    border-left: 0px;
    opacity: 0;
}

.btn_primary {
    padding: 10px 20px;
    border-radius: 6px;
}

.pt-lg {
    padding-top: 113px;
}

img {
    max-width: 100%;
}

.pt_180 {
    padding-top: 180px;
}

.px-113 {
    padding-left: 113px;
    padding-right: 113px;
}

.full_center {
    display: block;
    margin: auto;
    width: max-content;
    padding-top: 90px;
}

.flexHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.maxCont {
    width: max-content !important;
}

.linkInherit {
    text-decoration: none;
    color: inherit;
}

/* Common styles end */

/* Header styles start */

.mainHeader {
    /* padding: 3px 0px; */
    /* padding-top: 33px; */
    bottom: 0px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--header-bg);
}

.mainHeader.absoluteHeader {
    position: absolute;
    top: 0px;
    left: 0;
    transform: translateY(0);
    padding-bottom: 0px;
    background-color: transparent;
}

.mainHeader:not(.absoluteHeader) .headerInner {
    border-bottom: 1px solid #000;
    padding-bottom: 27px;
}

.mainHeader .headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 33px;
}

/* #headerMain {
    top: 0;
    bottom: auto;
} */

#headerMain .navWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 auto;
    width: 45%;
}

#headerMain .navWrap.navRight .mainNav {
    justify-content: flex-end;
}

#headerMain .navWrap.navRight .mainNav ul {
    gap: 60px;
}

.mainHeader .mainNav {
    display: flex;
    align-items: center;
    gap: 23px;
    /* padding-top: 40px; */
}

.mainHeader .mainNav ul,
.flexNav {
    display: flex;
    padding-left: 0px;
    align-items: center;
    gap: 23px;
    list-style-type: none;
    margin-bottom: 0px;
}

.mainHeader .mainNav ul li a {
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    ;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.4px;
}

.mainHeader.absoluteHeader .mainNav ul li a {
    color: #fff;
}

.logo img {
    max-width: 195px;
}

.toggleIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 12px; */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 1001;
    gap: 4px;
}

.toggleIcon span {
    display: block;
    height: 2px;
    background-color: #0C56B7;
    border-radius: 2px;
    transition: all 0.3s ease;
    width: 17px;
}

.mainHeader.absoluteHeader .toggleIcon span {
    background-color: white;
}

.toggleIcon.active span:first-child {
    transform: rotate(45deg) translate(6px, 5px);
    width: 26px;
}

.toggleIcon.active span:last-child {
    transform: rotate(-45deg) translate(2px, 0px);
    width: 26px;
}

/* Header styles end */

/* Home page styles start */

.bgCover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.bannerSec .bannerVid {
    height: 105vh;
    overflow: hidden;
}

.bannerSec .bannerVid video,
.bannerSec .bannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .bannerSec .bannerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.bannerBottom {
    position: absolute;
    bottom: 85px;
    left: 55px;
    right: 55px;
}

/* .bannerCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

/* .bannerBottom .textCol {
    max-width: max-content;
} */

.bannerBottom .textCol h1 {
    font-size: 120px;
    font-weight: 700;
    line-height: 130px;
    letter-spacing: -2.4px;
    margin-bottom: 0px;
    padding-bottom: 30px;
}

.bannerBottom .flexNav {
    gap: 40px;
}

.abtSec {
    /* background: #378882; */
    padding-top: 125px;
    /* padding-bottom: 120px; */
    position: relative;
}

.abtCont {
    max-width: 52%;
    margin-left: auto;
    margin-right: 10%;
    z-index: 2;
    position: relative;
}

.abtNav {
    padding-top: 70px;
}

.abtNav .flexNav {
    gap: 70px;
}

.abtImg {
    margin-top: -8%;
    z-index: 1;
    position: relative;
}

.qualSec {
    background: #EBEFF3;
}

.qualCont {
    padding-top: 105px;
    padding-bottom: 30px;
    position: absolute;
}

.qualDemo {
    padding-top: 50px;
    padding-bottom: 80px;
}

.qualDemoImg {
    max-width: 72%;
    margin-left: auto;
}

.qualInfo {
    position: absolute;
    left: 0;
    bottom: 19%;
    width: 80%;
    height: 40%;
}

.qualItem {
    position: absolute;
    max-width: 320px;
}

.qualItem:not(.show) {
    z-index: 10;
}

.qualItem:first-child {
    right: 0;
    top: 46px;
    transform: translateX(-90%);
    z-index: 9;
}

.qualItem .qualItemImg {
    opacity: 0;
    visibility: visible;
    display: none;
    position: absolute;
    z-index: 0;
    transition: .3s ease-in-out;
}

.qualItem.show .qualItemImg {
    opacity: 1;
    visibility: visible;
    display: block;
}

.qualItem:first-child .qualItemImg {
    top: -145px;
    left: -88px;
}

.qualItem:nth-child(2) {
    left: 44%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.qualItem:nth-child(2) .subTitle,
.qualItem:last-child .subTitle {
    justify-content: flex-end;
    flex-direction: row-reverse;
}

.qualItem:nth-child(2) .qualDesc p,
.qualItem:last-child .qualDesc p {
    text-align: right;
}

.qualItem:nth-child(3) {
    right: -50px;
    bottom: 25%;
}

.qualItem:nth-child(3) .qualItemImg {
    top: -188px;
    left: -39px;
    transform: translate(-30%, -25%);
}

.qualItem:last-child {
    left: -30px;
    bottom: 65px;
}

.qualItem:last-child .qualItemImg {
    left: -80px;
    bottom: -25px;
    transform: translate(60%, 23%);
}

.qualItem:last-child .subTitle {
    text-align: right;
}

.qualItem .subTitle {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 0px;
    cursor: pointer;
    z-index: 9;
    transition: .3s ease-in-out;
}

.qualItem.show .subTitle {
    color: #0C56B7;
}

.qualItem .subTitle::before {
    content: '';
    width: 21px;
    height: 21px;
    background: black;
    display: block;
    margin-bottom: 3px;
    flex: 0 0 21px;
    transition: .3s ease-in-out;
}

.qualItem.show .subTitle::before {
    background: #EFF627;
}

.qualDesc p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.32px;
    display: none;
}

.noteBox {
    background: #F0B;
    padding: 10px 60px;
    max-width: 40%;
    margin: auto;
    text-align: center;
}

.noteBox p {
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

.statsSec {
    padding-top: 140px;
    padding-bottom: 130px;
}

.statsSec .secHead {
    display: flex;
    flex-direction: column;
    gap: 77px;
}

.statsSec .secHead .desc p,
.indusItem .indusTitle,
.visCont .desc p,
.misCont .desc p,
.engProdCont .desc p,
.qhseMainCont .desc p {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.48px;
}

.statItem {
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
    padding-top: 40px;
}

.statItem:first-child {
    padding-top: 0px;
}

.statItem:last-child {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.statItem h4 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.96px;
}

.statItem p {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.72px;
    margin-bottom: 0px;
}

.prodsSec {
    background: #F1EBD7;
    padding-top: 108px;
    padding-bottom: 120px;
}

.prodsList {
    display: flex;
    align-items: center;
    gap: 19px;
    padding-top: 38px;
}

.prodImg img {
    max-height: 650px;
    width: 100%;
    object-fit: cover;
}

.prodInfo p,
.projInfo p,
.solutionInfo .titleArea h4,
.projMainInfo .desc h4 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-top: 20px;
    margin-bottom: 0px;
}

.projSec {
    padding-top: 80px;
    padding-bottom: 80px;
}

.projGrid {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1.3fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 23px;
}

.projHead {
    background: #0C56B7;
    padding: 85px 90px 85px 56px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    transition: .3s ease-in-out;
    /* max-width: 30%; */
}

.projHead:hover {
    background: #EBEFF3;
}

.projHead .mainTitle,
.projHead .ctaBtn a {
    color: white;
}

.projHead:hover .mainTitle {
    color: #000;
}

.projHead:hover .ctaBtn a {
    color: #0C56B7;
}

.projGridItem {
    position: relative;
    /* grid-area: 1 / 2 / 2 / 3; */
    /* border-right: 1px solid #0C56B7; */
    /* border-bottom: 1px solid #0C56B7; */
}

/* === VERTICAL LINE === */
.projGridItem::after {
    content: "";
    position: absolute;
    top: calc(23px / -2);
    bottom: calc(23px / -2);
    /* 👈 extend both sides */
    right: calc(23px / -2);
    width: 1px;
    background: #0C56B7;
    z-index: 2;
}

.projGridItem:nth-child(1)::before,
.projGridItem:nth-child(3)::before {
    left: calc(23px / -20);
}

.projGridItem:nth-child(2)::before,
.projGridItem:nth-child(5)::before {
    right: calc(23px / -20);
}

.projGridItem:nth-child(6)::after {
    bottom: calc(23px / -20);
}

.projGridItem:nth-child(1)::after {
    top: calc(23px / -20);
}

/* remove last column lines */
.projGridItem:nth-child(2)::after,
.projGridItem:nth-child(5)::after,
.projGridItem:nth-child(6)::before,
.projGridItem:last-child::after,
.projGridItem:last-child::before {
    display: none;
}

/* === HORIZONTAL LINE === */
.projGridItem::before {
    content: "";
    position: absolute;
    left: calc(23px / -2);
    right: calc(23px / -2);
    /* 👈 extend both sides */
    bottom: calc(23px / -2);
    height: 1px;
    background: #0C56B7;
    z-index: 2;
}

/* remove last row */
.projGridItem:nth-child(6)::after,
/* .projGridItem:last-child::before, */
.projGridItem:last-child::after {
    /* display: none; */
}

/* .projGridItem::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -12px;
    background-color: #0C56B7;
}

.projGridItem::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -12px;
    left: 0;
    background-color: #0C56B7;
} */

.projGridItem:nth-child(2) {
    grid-area: 1 / 2 / 2 / 4;
}

.projGridItem:nth-child(3),
.projGridItem:nth-child(4),
.projGridItem:nth-child(5) {
    max-height: 370px;
}

.projGridItem:nth-child(3) .projImg img,
.projGridItem:nth-child(4) .projImg img,
.projGridItem:nth-child(5) .projImg img {
    max-height: 370px;
    height: 370px;
}

.projGridItem:last-child {
    grid-area: 3 / 2 / 4 / 4;
}

.projItem .projInfo {
    position: absolute;
    bottom: 24px;
    left: 28px;
}

.projImg img {
    height: 500px;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
}

.newsSec {
    padding-top: 50px;
    padding-bottom: 140px;
}

.newsSec .secHead {
    padding-bottom: 32px;
}

.newsItem {
    background: #F1EBD7;
    padding: 36px 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    height: 750px;
    transition: .3s ease-in-out;
}

.newsItem .newsImg {
    transition: .3s ease-in-out;
}

.newsItem .newsImg img {
    max-height: 450px;
    width: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
}

.newsInfo .titleArea h4 {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.72px;
}

.newsInfo .desc,
.newsInfo .readMore {
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: .3s ease-in-out;
}

.newsInfo .desc {
    padding-top: 22px;
}

.newsInfo .desc p,
.adrsBox .desc p,
.qhseItem .desc p {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.4px;
    color: white;
    transition: .3s ease-in-out;
}

.newsInfo .readMore {
    padding-top: 70px;
}

.newsInfo .readMore a {
    color: #EFF627;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.newsItem:hover {
    background: #0C56B7;
}

.newsItem:hover .newsImg img {
    max-height: 220px;
    object-position: center;
}

.newsItem:hover .newsInfo .titleArea h4 {
    color: white;
}

.newsItem:hover .newsInfo .desc,
.newsItem:hover .newsInfo .readMore {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.viewAllNews {
    padding-top: 29px;
}

/* Home page styles end */

/* About page styles start */

.abtBannerSec {
    position: sticky;
    top: 0;
}

.abtBannerSec .bannerTitleArea .mainTitle {
    font-size: 80px;
    letter-spacing: -1.6px;
}

.innerBanner {
    padding-top: 150px;
    padding-bottom: 150px;
}

.bannerImgArea {
    padding-right: 10%;
}

.bannerImgArea video {
    width: 100%;
    height: 100%;
    max-height: 353px;
    object-fit: cover;
}

.bannerImgArea .desc {
    padding-top: 30px;
}

.bannerImgArea .desc p {
    font-weight: 400;
    letter-spacing: -0.48px;
    line-height: 1.4;
    text-transform: none;
}

.ourStory {
    min-height: 150vh;
    /* ensure scroll */
}

.abtMainImg {
    background-color: #0C56B7;
    padding-top: 40px;
}

.abtMainImg img {
    mix-blend-mode: multiply;
}

.abtstorySec,
.abtgrpSec {
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
}

.storyImgArea {
    max-width: 50%;
}

.storycontArea {
    padding-left: 10%;
    max-width: 54%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.abtstorySec .storycontArea::before,
.abtstorySec .vertLine {
    /* content: ''; */
    width: 1px;
    height: 100%;
    background-color: white;
    position: absolute;
    right: -8%;
}

.abtstorySec .storycontArea::after,
.abtstorySec .horzLine {
    /* content: ''; */
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 30%;
    left: 19%;
    background-color: white;
    max-width: 89%;
}

.storycontArea .desc p,
.projMainInfo .desc p,
.projDetCont .desc p,
.engMainInfo .desc p {
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
}

.storycontArea .mainTitle {
    font-weight: 400;
    font-size: 60px;
}

.abtgrpSec {
    align-items: flex-end;
    padding-bottom: 100px;
    padding-top: 140px;
    position: relative;
}

.abtgrpSec .storycontArea {
    padding-left: 0px;
}

.abtgrpSec::before,
.abtgrpSec .horzLine {
    /* content: ''; */
    position: absolute;
    top: 117px;
    left: 0;
    right: 0;
    width: 80%;
    height: 1px;
    margin: auto;
    background-color: white;
}

.abtgrpSec .grpImgArea::before,
.abtgrpSec .vertLine {
    /* content: ''; */
    height: 100%;
    width: 1px;
    position: absolute;
    bottom: 0;
    right: -20px;
    background-color: white;
}

.abtgrpSec .secHead {
    max-width: 80%;
    padding-left: 3%;
}

.abtgrpSec .secHead .ctaBtn {
    padding-top: 65px;
}

.abtStatSec {
    background: #EBEFF3;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* .abtStatSec .container {
    max-width: 80%;
} */

.abtStatSec .col-lg-7 {
    padding-right: 5%;
}

.abtStatSec .statsRow,
.keyIndusRow .secHead {
    padding-bottom: 80px;
}

.abtStatSec .statItem:last-child {
    border-bottom: 1px solid #000;
    padding-bottom: 40px;
}

.keyIndusRow {
    padding-top: 100px;
}

.indusItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.indusItem .imgArea {
    min-height: 200px;
    display: flex;
}

.vismisContArea {
    flex: 0 0 auto;
    width: 45%;
    margin-left: 8%;
    padding-top: 100px;
}

.vismisContArea .secHead {
    padding-right: 10%;
    padding-bottom: 70px;
    border-bottom: 1px solid #0C56B7;
}

.vismisContArea .secHead .desc p {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.72px;
    margin-bottom: 0px;
}

.vismisImgArea {
    flex: 0 0 auto;
    width: 47%;
}

.vismisImgArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.visCont,
.misCont {
    padding-top: 125px;
    padding-bottom: 124px;
    border-bottom: 1px solid #0C56B7;
    padding-right: 69px;
    background-color: white;
}

.contCard {
    gap: 125px;
    display: flex;
}

.misCont {
    padding-right: 50px;
    border-bottom: none;
}

.misCont .contCard {
    gap: 80px;
}

.misCont .imgArea {
    position: absolute;
    left: -50%;
    transform: translateX(-50%);
    top: 15%;
}

.vismisMain {
    position: relative;
}

.vismisContArea {
    position: relative;
    z-index: 2;
}

.vismisImgArea {
    position: relative;
    z-index: 1;
}

.expandCol {
    position: relative;
    transform-origin: left center;
    will-change: transform;
}

/* prevent horizontal scroll */
.vismisSec {
    overflow: hidden;
}

.sustainContArea {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
}

.sustainContArea .secHead {
    max-width: 46%;
}

.sustainContArea .desc p {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: -0.72px;
}

.certifSec {
    padding-top: 150px;
    padding-bottom: 150px;
}

.seemoreSec {
    background: #EBEFF3;
    /* padding-top: 35px; */
    /* padding-bottom: 28px; */
}

.seemoreSec.borderTop {
    border: 1px solid #0C56B7;
}

.seemoreSec .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
}

.seemoreImgArea {
    padding-top: 35px;
    padding-bottom: 30px;
}

.seemoreImgArea .imgArea img {
    width: 100%;
}

.seemoreLinks {
    /* max-width: 80%; */
    border-right: 1px solid #0C56B7;
    margin-right: 33px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .seemoreLinks .seemoreLink::before {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #0C56B7;
    max-width: 100%;
} */

.seemoreLink {
    padding: 50px 0px;
    border-bottom: 1px solid #0C56B7;
    flex: 1;
}

.seemoreLink:last-child {
    border-bottom: none;
}

.seemoreLink .ctaArea {
    width: 80%;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
}

.seemoreLink h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.seemoreLink a {
    font-size: 42px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.84px;
    text-decoration: none;
}

/* About page styles end */

/* Product detail page styles start */

.page-template-content-product-detail,
.page-template-content-projects,
.page-template-content-engineering {
    background: #EBEFF3;
}

.prodBannerSec {
    padding-top: 30px;
}

.breadcrumbList {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.breadcrumbItem {
    position: relative;
    display: flex;
    align-items: center;
}

.breadcrumbItem:not(:last-child):before {
    content: '/';
    position: absolute;
    right: -12px;
    /* top: 0; */
    font-size: 12px;
    color: #6F7E91;
}

.breadcrumbItem a {
    color: #6F7E91;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.breadcrumbItem.current a {
    pointer-events: none;
    text-transform: uppercase;
}

.gradOverlayImg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(12, 86, 183, 0.05) -35.53%, rgba(12, 86, 183, 0.50) 100%);
}

.prodBanInfo .titleArea {
    max-width: 85%;
    margin: auto;
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
}

.prodBanInfo .titleArea .xlTitle {
    max-width: 40%;
    /* font-size: 80px;
    font-weight: 700;
    line-height: 106%;
    letter-spacing: -1.6px; */
}

.productMain {
    position: relative;
}

.productMain .desc p {
    line-height: 1.4;
    letter-spacing: normal;
}

.productMainWrap {
    display: flex;
    align-items: flex-start;
    overflow: visible;
    position: relative;
}

.descWithCta,
.dualImgArea {
    display: flex;
    padding-top: 57px;
}

.descWithCta .desc {
    width: 70%;
}

.descWithCta .desc p {
    max-width: 78%;
}

.productMain .desc p,
.productMain .desc ul li,
.certifContSec .desc p,
.solItem,
.projMainInfo .desc li {
    font-size: 24px;
    line-height: 135%;
    margin-bottom: 0px;
    letter-spacing: -0.48px;
    font-weight: 400;
}

.descWithCta .desc ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.descWithCta .desc ul li {
    padding-right: 0px;
    /* flex: 1 0 33%; */
    flex: 0 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.descWithCta .desc ul li::before,
.genPurp ul li::before,
.plainCont ul li::before,
.solItem::before,
.projMainInfo .desc li:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50px;
}

.descWithCta .flexNav {
    gap: 38px;
    align-items: flex-start;
    position: absolute;
    right: 0;
}

.dualImgArea {
    padding-top: 90px;
    gap: 17px;
}

.dualImgDesc .desc {
    padding-top: 38px;
    max-width: 76%;
}

.prodTechDet,
.availMesh {
    padding-top: 110px;
}

.availMesh {
    display: flex;
    justify-content: space-between;
}

.availContCol.flex-1 {
    /* max-width: 40%; */
    width: 42%;
    flex: 0 0 auto;
}

.availTableCol {
    /* max-width: 50%; */
    width: 50%;
    padding-top: 44px;
    flex: 0 0 auto;
}

.techTable table {
    margin-bottom: 0px;
}

.techTable tr:first-child th {
    border-top: 0px;
    font-size: 24px;
    color: #0C56B7;
    font-weight: 500;
}

.techTable tr td,
.techTable tr th {
    border-width: 1px;
    padding: 20px 0px;
    text-align: center;
}

.availTableCol .techTable tr td,
.availTableCol .techTable tr th {
    text-align: left;
    border-right: 0px;
    border-left: 0px;
    font-size: 20px;
}

.availTableCol .techTable tr th {
    font-size: 22px;
    padding-right: 20px;
}

.availTableCol .techTable tr td:first-child,
.availTableCol .techTable tr th:first-child {
    width: 30%;
}

.techTable tr td:first-child,
.techTable tr th:first-child {
    border-left: 0px;
}

.techTable tr td:last-child,
.techTable tr th:last-child {
    border-right: 0px;
}

.table_note p {
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.availMesh .availContCol:not(.flex-1) .desc,
.genPurp .desc {
    max-width: 70%;
}

.availMesh .dualImgArea,
.certRow,
.dualColInfoSec {
    padding-top: 140px;
}

.availMesh .ctaBtn {
    padding-top: 45px;
}

.availMesh .availContCol.flex-1 .ctaBtn {
    padding-top: 75px;
}

.genPurp {
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #000;
}

.genPurp ul {
    margin: 0px;
    list-style-type: none;
    padding: 25px 0px;
    /* padding-bottom: 30px; */
}

.genPurp h2,
.genPurp h3 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: -0.96px;
}

.genPurp ul li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.faqSec {
    padding-top: 120px;
    border-top: 1px solid #000;
}

.faqData {
    display: flex;
}

.faqData .secHead {
    max-width: 25%;
}

.faqList,
.dualcontImg {
    max-width: 58%;
}

.faqItem:not(:last-child) {
    padding-bottom: 22px;
    border-bottom: 1px solid #000;
}

.faqItem:not(:first-child) {
    padding-top: 22px;
    /* border-bottom: 1px solid #000; */
}

.faqHead h4 {
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 0px;
}

.faqDesc {
    padding-top: 10px;
}

.faqDesc:not(.show) {
    display: none;
}

.dualColInfoSec .dualcolCont {
    padding-right: 3%;
}

.relProjSec {
    padding-top: 150px;
    padding-bottom: 150px;
}

.relProjSec .container-left {
    max-width: 90%;
    margin-left: auto;
    padding-left: 12px;
    position: relative;
}

.relProjSec .secHead {
    max-width: 33%;
    padding-bottom: 26px;
}

.relProjItem .projImg img {
    height: 540px;
    max-height: 540px;
    object-fit: cover;
    width: 100%;
}

.relProjItem .prodInfo P {
    padding-top: 10px;
}

.relProjSec .projSwiperNav {
    position: absolute;
    top: 20px;
    right: 12%;
    display: flex;
    align-items: center;
    gap: 56px;
}

.contFormArea {
    display: flex;
    gap: 54px;
    justify-content: space-between;
}

.contFormArea .formCol {
    flex: 1;
    position: relative;
}

.formCol .form-group {
    padding-top: 35px;
}

.formCol .form-group input,
.formCol .form-group textarea,
.formCol .form-group textarea::placeholder,
.formCol .form-group select,
.formCol .form-group input::placeholder {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    background: transparent;
}

.formCol.formWhite .form-group input,
.formCol.formWhite .form-group textarea,
.formCol.formWhite .form-group textarea::placeholder,
.formCol.formWhite .form-group input::placeholder {
    color: white;
}

.formCol.formWhite .form-group select {
    color: white;
    background-color: transparent;
}

.formCol .form-group select:focus,
.formCol .form-group textarea:focus {
    outline: none;
}

.formCol.formWhite .form-group select option {
    color: #000;
}

.formCol .form-group input,
.formCol .form-group textarea,
.formCol .form-group select {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    border-radius: 0px;
}

.formCol.formWhite .form-group input,
.formCol.formWhite .form-group textarea,
.formCol.formWhite .form-group select {
    border-bottom: 1px solid white;
}

.formCol .form-group p {
    margin-bottom: 0px;
}

.formCol .form-group textarea {
    height: 60px;
}

.formCol .form-group .wpcf7-not-valid-tip {
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 12px;
}

.formCol .form-submit {
    position: relative;
    padding-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.formCol .form-submit input {
    width: max-content;
    border: 2px solid;
    border-radius: 0px 11px;
    border-top: 0px;
    border-right: 0px;
    color: #0C56B7;
    background-color: transparent;
    line-height: 1.4;
    padding: 0px 5px 6px 12px;
}

.formCol.formWhite .form-submit input {
    color: #EFF627;
}

.formCol.formWhite .form-submit input {
    border-bottom: 1px solid #EFF627;
}

.formCol .form-submit .wpcf7-spinner {
    position: absolute;
    right: -23px;
    margin: 0px;
}

.formCol .wpcf7-response-output {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 !important;
    font-size: 14px;
    margin-top: 20px !important;
}

.floatNav {
    position: sticky;
    top: 100px;
    margin-top: 75vh;
    z-index: 9;
}

.floatNavList {
    position: absolute;
    left: 80px;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 75vh; */
    max-height: 75vh;
}

.floatNavItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.floatNavItem::after {
    content: "";
    width: 1px;
    height: 40px;
    background: #000;
    margin: 10px 0;
}

.floatNavItem:last-child::after {
    display: none;
}

.floatNavItem a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 20px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
}

.floatNavItem a.active {
    color: #0C56B7;
    font-weight: 700;
}

.floatNavItem a span {
    display: inline-block;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 14px;
    letter-spacing: 2px;
}

/* Product detail page styles end */

/* Projects page styles start */

.projBannerSec {
    padding-top: 137px;
}

.projBanInfo {
    max-width: 65%;
}

/* .projBanInfo .largeTitle {
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -1.6px;
} */

.allprojectsSec {
    padding-top: 80px;
}

.projFilters {
    padding-bottom: 25px;
    gap: 35px;
}

.allprojList {
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 60px;
}

.allprojList .allprojItem {
    flex: 0 0 auto;
    width: 32.5%;
}

.allprojList .allprojItem img {
    max-height: 725px;
    height: 725px;
}

.allprojItem .prodInfo p {
    padding-top: 5px;
}

/* Projects page styles end */

/* Project detail page styles start */

.projContCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.projMainInfo {
    padding-top: 140px;
}

.backCta {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    z-index: 99;
    position: relative;
}

.backCta a {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.32px;
    text-decoration: none;
}

.solutionInfo {
    padding-bottom: 35px;
}

.solItem,
.projMainInfo .desc li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.projMainInfo .desc ul {
    padding: 0;
    margin: 0;
}

.projMainInfo .desc li {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.projFeatImg {
    padding: 27px 0px 38px 26px;
    margin-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.37);
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.projFeatImg img {
    max-height: 630px;
    width: 100%;
    object-fit: cover;
}

.projDetImg {
    padding-top: 55px;
    padding-bottom: 70px;
}

.projDetImg img {
    max-height: 540px;
    width: 100%;
    object-fit: cover;
}

.projDetCont {
    padding-left: 96px;
    margin-left: 20px;
    border-left: 1px solid rgba(0, 0, 0, 0.37);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.otherProjSec {
    padding-top: 90px;
}

.relProjSec .secHead {
    /* max-width: 50%; */
    max-width: 38%;
}

/* Project detail page styles end */

/* Products list page styles start */

.allprodList {
    flex-wrap: wrap;
    /* justify-content: space-between; */
    row-gap: 50px;
    align-items: flex-start;
}

.allprodList .prodItem {
    flex: 0 0 auto;
    width: 24%;
}

.allprodList .allprojItem .prodInfo p {
    line-height: 1.3;
}

/* Products list page styles end */

/* Contact page styles start */

.page-template-content-contact .mainHeader .mainNav ul li a {
    color: #FFF;
}

.page-template-content-contact .mainHeader:not(.absoluteHeader) .headerInner {
    border-color: #fff;
}

.page-template-content-contact .logo img {
    max-width: 170px;
}

.contHeadSec {
    padding-top: 107px;
    padding-bottom: 150px;
}

.contHeadSec .subTitle,
.engMainInfo .subTitle,
.resoIntroSec .subTitle,
.qhseIntroSec .subTitle,
.plainCont .subTitle {
    text-transform: none;
    letter-spacing: -0.4px;
}

.formVidCol .vidArea video {
    width: 100%;
    height: 580px;
    max-height: 580px;
    object-fit: cover;
}

.formVidCol .contFormArea {
    align-items: flex-end;
    gap: 110px;
}

.addrsInfo {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.adrs a {
    color: #EFF627;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -0.4px;
    text-decoration: none;
    margin-left: 10px;
}

.phone a {
    text-decoration: none;
    color: inherit;
}

.contHeadSec .formCol .form-group {
    padding-top: 50px;
}

.contHeadSec .formCol .form-group textarea {
    height: 70px;
}

.contHeadSec .formCol .form-submit {
    padding-top: 38px;
}

.resourceSec {
    background: #000;
}

/* .resBanImg .imgArea::before {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
} */

.resBanImg .imgArea img {
    max-height: 590px;
    width: 100%;
    object-fit: cover;
}

.resCont {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.resCont .ctaArea {
    position: absolute;
    bottom: 20px;
    right: 0;
    gap: 110px;
}

.resCont .ctaBtn a:hover {
    color: white;
}

/* Contact page styles end */

/* Engineering page styles start */

.engIntroSec .borderTop {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.engMainInfo {
    padding-top: 90px;
    max-width: 68.2%;
    margin-left: 18%;
}

.engMainInfo .desc p,
.engProdCont .desc p {
    margin-bottom: 30px;
    line-height: 1.3;
    letter-spacing: -0.48px;
}

.engMainInfo .ctaArea {
    padding-top: 24px;
}

.engFeatImg {
    padding: 0px 0px 38px 26px;
    margin-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.37);
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.37); */
}

.engProdCont {
    max-width: 58.5%;
    margin-left: 17%;
}

.engProdCont .subTitle {
    letter-spacing: -0.4px;
    padding-bottom: 34px;
    padding-right: 40px;
    text-transform: none;
}

.engProdImg {
    border-right: 1px solid rgba(0, 0, 0, 0.37);
    padding-top: 40px;
    padding-bottom: 38px;
    padding-right: 39px;
}

.engResSec .resCont .ctaArea {
    gap: 79px;
}

/* Engineering page styles end */

/* Resources page styles start */

.resoIntroSec {
    padding-top: 58px;
    padding-bottom: 70px;
}

.resoTabArea {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid rgba(0, 0, 0, 0.37);
    margin-top: 25px;
}

.resoList {
    border-right: 1px solid rgba(0, 0, 0, 0.37);
}

.resoItem {
    /* max-width: 50%; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    padding-right: 15px;
}

.resoItem.active {
    border-color: #0C56B7;
}

.resoItemHead,
.dwnldReso {
    /* padding: 16px 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 70px;
}

.resoItemHead img {
    width: 12px;
    height: auto;
    opacity: 0;
    transform: translateX(-10px);
    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
}

.resoItem.active .resoItemHead img {
    opacity: 1;
    transform: translateX(0);
}

.resoTitle {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -0.6px;
    transition: .3s ease-in-out;
}

.resoItem.active .resoTitle {
    color: #0C56B7;
    font-weight: 700;
}

.resoSubItem,
.dwnldReso .ctaBtn {
    position: absolute;
    /* inset: 0; */
    opacity: 0;
    transform: translateY(30px);
    transition:
        opacity 0.35s ease,
        transform 0.35s ease;
    pointer-events: none;
}

.dwnldReso .ctaBtn {
    right: 0;
}

.resoSubItem.active,
.dwnldReso.active .ctaBtn {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: relative;
}

.dwnldReso {
    padding-left: 33px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
    height: 71px;
    position: relative;
}

.dwnldReso h5 {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
}

/* Resources page styles end */

/* QHSE page styles start */

.qhseIntroSec {
    padding-top: 99px;
}

.qhseIntroSec .secHead {
    max-width: 65%;
}

.qhseIntroSec .xlTitle {
    line-height: 1.1;
}

.qhseContRow {
    padding-top: 120px;
}

.qhseMainCont {
    padding-right: 30px;
}

.qhseMainCont .imgArea {
    padding-top: 80px;
}

.qhseHowCont {
    border-left: 1px solid rgba(0, 0, 0, 0.37);
}

.qhseHowCont .titleArea {
    padding-left: 34px;
}

.qhseList {
    padding-top: 21px;
}

.qhseItem {
    display: flex;
    align-items: flex-start;
    gap: 31px;
    padding: 21px 0px;
    padding-left: 34px;
    padding-right: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.qhseItem:last-child {
    border-bottom: none;
}

.qhseItem .imgArea {
    width: 35px;
    flex: 0 0 auto;
}

.qhseItem .imgArea img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.qhseItem .desc p {
    line-height: 1.4;
}

.commitSec .container-theme {
    width: 85%;
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.commitSec .row {
    align-items: flex-end;
}

.commitSec .plainCont {
    padding-right: 35px;
}

.commitSec .plainCont .desc:not(:first-child),
.commitSec .plainCont .desc h4:not(:first-child) {
    padding-top: 50px;
}

.commitSec .plainCont .desc h4 {
    max-width: 90%;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 1.2;
    color: #0C56B7;
}

/* .commitSec .plainCont .desc h4:not(:first-child) {
    padding-top: 50px;
} */

.commitSec .plainCont .desc ol {
    padding: 0px;
    margin: 0;
    padding-left: 20px;
}

.commitSec .plainCont .desc ul {
    margin: 0;
    padding: 0px;
}

.commitSec .plainCont .desc ol ul {
    padding-top: 20px;
}

.commitSec .plainCont .desc ol li,
.commitSec .plainCont .desc ul li {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.4px;
}

.commitSec .plainCont .desc ul li {
    padding-right: 0px;
    /* flex: 1 0 33%; */
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.plainCont ul li::before {
    margin-top: 12px;
}

.plainCont li ul li::before {
    flex: 0 0 auto;
}

.commitImgArea {
    padding-bottom: 20px;
}

.commitImgArea img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: 490px;
    max-height: 490px;
}

/* QHSE page styles end */

/* Footer styles start */

.mainFooter {
    background: #0C56B7;
    padding-top: 80px;
    padding-bottom: 33px;
}

.mainFooter::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/footer_bg_brc.png');
}

.mainFooter .container {
    z-index: 9;
    position: relative;
    max-width: 80%;
    padding: 0px;
}

.footerContent {
    z-index: 2;
    padding-top: 85px;
    padding-bottom: 79px;
    position: relative;
}

.footNav,
.locations {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.locations {
    padding-top: 70px;
}

.locations .location {
    flex: 0 0 auto;
    width: 40%;
}

.footNav .footNavItem h4,
.location h4 {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 700;
    font-size: 14px;
    line-height: normal;
}

.footNav .mainNav,
.footNav .menu {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.footNav .footNavItem a,
.newsletterForm .formTitle,
.newsletterForm .noptin-form-footer .noptin-form-note,
.newsletterForm .noptin-field-email .noptin-form-field__email::placeholder,
.newsletterForm .noptin-form-footer .noptin-form-submit,
.copyright p,
.social a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.credits p {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.50);
}

.social a {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.footLogo img {
    max-width: 270px;
}

.newsletterForm {
    padding-top: 25px;
    padding-left: 40px;
}

.noptin-optin-form-wrapper {
    background-color: transparent;
}

.newsletterForm .noptin-field-email .noptin-form-field__email {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
}

/* .newsletterForm .noptin-field-email .noptin-form-field__email::placeholder {
    color: white;
} */

.newsletterForm .noptin-form-footer .noptin-form-note {
    max-width: 65%;
    text-align: left;
}

.newsletterForm .noptin-form-footer .noptin-form-note a {
    color: inherit;
}

.newsletterForm .noptin-form-single-line .noptin-optin-field-submit {
    position: absolute;
    right: 0;
    top: 45px;
}

.newsletterForm .noptin-form-footer .noptin-form-submit {
    background: transparent;
    border: none;
    color: white;
    box-shadow: none;
}

.newsletterForm .noptin-form-footer .noptin-form-submit {
    padding: 0px;
}

.noptin-form-fields {
    gap: 0px;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    /* margin-top: -50px; */
}

.footerBottom>* {
    flex: 1;
}

.footerBottom .grpLogo img {
    max-width: 215px;
}

/* Footer styles end */

/* Responsive styles start */

@media (max-width: 1681px) {

    .xlTitle {
        font-size: 70px;
    }

    .mainTitle {
        font-size: 42px;
    }

    .serviceInfo .imgArea img {
        max-height: 520px;
    }

    .servLeft.serv_active .serviceTitle {
        transform: translateX(43%);
    }

    .qualInfo {
        width: 92%;
        height: 38%;
    }

    .qualItem:first-child .qualItemImg {
        top: -168px;
        left: -85px;
    }

    .prodInfo p,
    .projInfo p,
    .commitSec .plainCont .desc ol li,
    .commitSec .plainCont .desc ul li {
        font-size: 18px;
    }

    .storycontArea .mainTitle {
        font-size: 51px;
    }

    .storyImgArea {
        max-width: 40%;
    }

    .keyIndusRow,
    .visCont,
    .misCont {
        padding-top: 70px;
    }

    .abtStatSec .statsRow,
    .keyIndusRow .secHead,
    .visCont,
    .misCont {
        padding-bottom: 70px;
    }

    .vismisContArea .secHead .desc p,
    .sustainContArea .desc p {
        font-size: 32px;
    }

    .certifSec {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .certLogo img {
        max-width: 80%;
    }

    .seemoreLink a {
        font-size: 36px;
    }

    /* Product page styles */

    /* .prodBanInfo .titleArea .xlTitle {
        font-size: 70px;
    } */

    .productMain .desc p,
    .productMain .desc ul li,
    .certifContSec .desc p,
    .faqHead h4,
    .engMainInfo .desc p,
    .engProdCont .desc p,
    .qhseMainCont .desc p {
        font-size: 21px;
    }

    .relProjItem .projImg img {
        height: 480px;
        max-height: 480px;
    }

    .descWithCta,
    .dualImgArea {
        padding-top: 45px;
    }

    .prodTechDet,
    .availMesh,
    .faqSec {
        padding-top: 80px;
    }

    .availMesh .dualImgArea,
    .certRow,
    .relProjSec {
        padding-top: 100px;
    }

    .relProjSec {
        padding-bottom: 100px;
    }

    .availMesh .ctaBtn {
        padding-top: 25px;
    }

    .contFormArea .formCol .wpcf7-response-output {
        font-size: 12px;
        margin-top: 10px;
    }

    /* Product page styles */

    /* Projects page styles */

    .allprojList .allprojItem img {
        max-height: 625px;
        height: 625px;
    }

    /* Projects page styles */

    /* Contact page styles */

    .addrsInfo {
        padding-top: 60px;
    }

    .adrsBox .subTitle,
    .adrsBox .desc p,
    .adrs a,
    .qhseItem .desc p {
        font-size: 18px;
        line-height: 1.4;
    }

    .formVidCol .vidArea video {
        width: 100%;
        height: 540px;
        max-height: 540px;
    }

    .contHeadSec .formCol .form-group {
        padding-top: 45px;
    }

    /* Contact page styles */

    /* Engineering page styles */

    .engMainInfo {
        max-width: 69%;
    }

    .engMainInfo .ctaArea {
        padding-top: 10px;
    }

    .ctaBtn a {
        font-size: 12px;
    }

    /* Engineering page styles */

    /* QHSE page styles */

    .qhseIntroSec {
        padding-top: 70px;
    }

    .qhseContRow {
        padding-top: 100px;
    }

    .qhseMainCont {
        padding-right: 20px;
    }

    .qhseItem .imgArea {
        width: 30px;
    }

    .qhseMainCont .imgArea {
        padding-top: 60px;
    }

    /* QHSE page styles */
}

@media (max-width: 1600px) {
    .px-113 {
        padding-left: 80px;
        padding-right: 80px;
    }

    .mainTitle {
        font-size: 36px;
    }

    /* .mainHeader {
        padding-top: 30px;
    } */

    .logo img {
        width: 125px;
    }

    .mainHeader .mainNav {
        padding-top: 30px;
    }

    .mainHeader .mainNav ul {
        gap: 18px;
    }

    .mainHeader .mainNav ul li a {
        font-size: 9px;
    }

    .subTitle {
        font-size: 16px;
    }

    .groupTag p,
    .projInfo .projType p,
    .projInfo .projTitle span,
    .cformCol .form-group input::placeholder,
    .cformCol .form-group .wpcf7-list-item-label {
        font-size: 14px;
    }

    /* Home responsive styles */

    .bannerBottom .textCol h1 {
        font-size: 90px;
        line-height: 110px;
    }

    /* .bannerBottom .textCol {
        max-width: 45%;
    } */

    .homectaCol {
        max-width: 23%;
        width: 18%;
    }

    /* .abtSec, */
    .guidesSec {
        padding-bottom: 100px;
    }

    .abtSec::before {
        width: 53.5%;
    }

    .abtCont {
        max-width: 54%;
    }

    .abtNav {
        padding-top: 50px;
    }

    .largeTitle {
        font-size: 46px;
    }

    .supportSec,
    .guidesSec,
    .abtSec,
    .projBannerSec {
        padding-top: 100px;
    }

    .natureText {
        padding-left: 60px;
    }

    .statsSec,
    .prodsSec,
    .contHeadSec {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .statItem {
        padding-bottom: 24px;
        padding-top: 30px;
    }

    .statItem h4 {
        font-size: 32px;
    }

    .statItem p {
        font-size: 26px;
    }

    .serviceContainer {
        max-width: 75%;
    }

    .serviceCol.servLeft .servicehidInfo {
        right: 70px;
    }

    .servicehidInfo {
        width: 430px;
        gap: 50px;
    }

    .serviceTitle .subTitle,
    .homectaCol p,
    .ctaBtn a,
    .footNav .footNavItem a,
    .footerBottom .copyright p,
    .newsletterForm .noptin-form-footer .noptin-form-note {
        font-size: 12px;
    }

    .serviceInfo .imgArea img {
        max-height: 460px;
    }

    .servicehidInfo h3 {
        font-size: 28px;
    }

    .servicehidInfo p,
    .projInfo .projTitle p,
    .cformCol .form-group input {
        font-size: 16px
    }

    .consultSec .container-theme {
        width: 85%;
    }

    .cformCol {
        padding: 35px 45px;
    }

    .consultInfo,
    .cserviceBox {
        width: 85%;
    }

    .consultInfo .titleArea {
        padding: 50px;
    }

    .cserviceBoxInfo {
        padding: 45px;
        gap: 70px;
    }

    .cformCol .form-group .wpcf7-radio {
        gap: 40px;
    }

    .cformCol .form-submit {
        flex: 0 0 35%;
    }

    .natureText {
        padding-top: 90px;
    }

    .natureContCol .smallImg img {
        padding-top: 30px;
    }

    .supportSec .titleArea {
        max-width: 70%;
    }

    .guidesList {
        gap: 100px 0px;
    }

    .guidesItem .imgArea img {
        max-height: 430px;
    }

    .guidesItem .guidesInfo {
        max-width: 50%;
        padding: 27px;
        padding-bottom: 20px;
    }

    .guideType {
        font-size: 14px;
    }

    .guideTitle,
    .engMainInfo .desc p,
    .engProdCont .desc p,
    .qhseMainCont .desc p {
        font-size: 20px;
    }

    .projImg img {
        height: 400px;
        max-height: 400px;
    }

    .projGridItem:nth-child(3) .projImg img,
    .projGridItem:nth-child(4) .projImg img,
    .projGridItem:nth-child(5) .projImg img {
        max-height: 320px;
        height: 320px;
    }

    .prodInfo p,
    .projInfo p {
        font-size: 18px;
    }

    .newsSec {
        padding-bottom: 90px;
    }

    .newsItem {
        max-height: 650px;
    }

    .newsInfo .readMore {
        padding-top: 50px;
    }

    .newsInfo .titleArea h4 {
        font-size: 30px;
    }

    .newsInfo .desc p,
    .qhseItem .desc p,
    .prodInfo p,
    .projInfo p,
    .commitSec .plainCont .desc ol li,
    .commitSec .plainCont .desc ul li {
        font-size: 16px;
    }

    /* Home responsive styles */

    /* About page styles */

    .sustainContArea .desc p {
        font-size: 28px;
    }

    /* .abtBannerSec .bannerTitleArea .mainTitle {
        font-size: 70px;
    } */

    /* About page styles */

    /* Product page styles */

    .descWithCta .desc {
        width: 67%;
    }

    .descWithCta .desc ul {
        padding-top: 35px;
    }

    .descWithCta .ctaBtn a {
        font-size: 10px;
    }

    .techTable tr:first-child th,
    .faqHead h4 {
        font-size: 18px;
    }

    .techTable tr td,
    .techTable tr th {
        padding: 12px 0px;
    }

    .relProjItem .projImg img {
        height: 440px;
        max-height: 440px;
    }

    .contFormArea {
        gap: 40px;
    }

    .contFormArea .imgArea {
        flex: 1;
        max-width: 45%;
    }

    .contFormArea .form-group input,
    .contFormArea .form-group textarea,
    .contFormArea .form-group select,
    .contFormArea .form-group textarea::placeholder,
    .contFormArea .form-group input::placeholder {
        font-size: 12px;
    }

    .contFormArea .form-group {
        padding-top: 25px;
    }

    /* Product page styles */

    /* Contact page styles */

    .contHeadSec .formCol .form-group {
        padding-top: 40px;
    }

    .addrsInfo {
        padding-top: 50px;
    }

    .xlTitle {
        font-size: 60px;
    }

    .resCont .ctaArea {
        gap: 70px;
    }

    /* Contact page styles */

    .footerContent {
        padding-top: 70px;
        padding-bottom: 60px;
    }

    .footNav {
        padding-right: 0px;
    }

    .footNav .mainNav,
    .footNav .menu {
        gap: 6px;
    }

    .allprojList .allprojItem {
        max-width: 32%;
    }
}

@media (max-width: 1440px) {

    #headerMain .navWrap.navRight .mainNav ul {
        gap: 50px;
    }

    .innerBanner {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .footLogo img {
        max-width: 200px;
    }

    .serviceInfo .imgArea img {
        max-height: 420px;
    }

    .serviceCol.servRight .servicehidInfo {
        left: 70px;
    }

    .servRight.serv_active .serviceTitle {
        transform: translateX(calc(-100% + 5px));
    }

    .servLeft.serv_active .serviceTitle {
        transform: translateX(55%);
    }

    .qualDemoImg img {
        max-width: 85%;
    }

    .qualInfo {
        width: 85%;
        bottom: 16.5%;
    }

    .qualItem:first-child .qualItemImg {
        top: -159px;
        left: -74px;
    }

    .qualItem:first-child .qualItemImg img {
        max-width: 80%;
    }

    .qualItem:first-child {
        transform: translateX(-65%);
    }

    .qualItem:nth-child(3) .qualItemImg {
        top: -166px;
        left: 6px;
        transform: translate(-10%, -28%);
        max-width: 87%;
    }

    .qualItem:last-child .qualItemImg {
        left: -50px;
        bottom: -16px;
        transform: translate(52%, 19%);
    }

    .noteBox {
        max-width: 50%;
    }

    .newsItem {
        max-height: 600px;
    }

    .newsItem:hover .newsImg img {
        max-height: 180px;
    }

    /* About page styles */

    .certLogo img,
    .misCont .imgArea img {
        max-width: 80%;
    }

    .storycontArea .mainTitle {
        font-size: 44px;
    }

    .storycontArea .desc p,
    .statsSec .secHead .desc p,
    .indusItem .indusTitle,
    .visCont .desc p,
    .misCont .desc p,
    .projMainInfo .desc p {
        font-size: 18px;
        line-height: 26px;
    }

    .vismisContArea .secHead .desc p,
    .sustainContArea .desc p {
        font-size: 27px;
    }

    .seemoreLink h4 {
        font-size: 12px;
    }

    .seemoreLink a {
        font-size: 32px;
    }

    /* About page styles */

    /* Product page styles */

    .productMain .desc p,
    .productMain .desc ul li,
    .certifContSec .desc p,
    .engMainInfo .desc p,
    .engProdCont .desc p {
        font-size: 18px;
    }

    /* Product page styles */

    /* Projects page styles */

    .allprojList .allprojItem img {
        max-height: 525px;
        height: 525px;
    }

    /* Projects page styles */

    /* Contact page styles */

    .contHeadSec .formCol .form-group {
        padding-top: 30px;
    }

    .formVidCol .vidArea video {
        height: 500px;
        max-height: 500px;
    }

    .ctaBtn a {
        font-size: 10px;
    }

    /* Contact page styles */

    /* Engineering page styles */

    .engMainInfo {
        max-width: 70%;
        padding-top: 70px;
    }

    .engMainInfo .ctaArea,
    .engProdCont .ctaArea {
        padding-top: 0px;
        margin-top: 35px !important;
    }

    .engProdCont .subTitle {
        padding-bottom: 25px;
    }

    .engResSec .resCont .ctaArea {
        gap: 60px;
    }

    /* Engineering page styles */

    /* QHSE page styles */

    .qhseContRow {
        padding-top: 80px;
    }

    .qhseMainCont .desc p {
        line-height: 1.3;
        font-size: 18px;
    }

    .qhseList {
        padding-top: 11px;
    }

    .commitSec .container-theme {
        width: 87%;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    .commitImgArea img {
        height: 420px;
        max-height: 420px;
    }

    .commitSec .plainCont .desc:not(:first-child) {
        padding-top: 30px;
    }

    /* QHSE page styles */
}

@media (min-width: 992px) {

    .qualCont {
        max-width: 35%;
    }

    .statsSec .col-1 {
        flex: 0 0 auto;
        width: 27%;
    }

    .statsSec .col-2 {
        flex: 0 0 auto;
        width: 45%;
    }

    .contHeadSec .infoCol {
        flex: 0 0 auto;
        width: 31%;
    }

    .contHeadSec .formVidCol {
        flex: 0 0 auto;
        width: 63%;
    }

    .formVidCol .contFormArea .formCol {
        flex: 0 0 40%;
    }

    .commitSec .col-1 {
        flex: 0 0 auto;
        width: 62%;
    }

    .commitSec .col-2 {
        flex: 0 0 auto;
        width: 38%;
        padding-right: 0px;
    }
}

@media (max-width: 991px) {
    .wp-theme-brc-arabia .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }

    .w-100-mob {
        width: 100%;
    }

    .mw-100-mob {
        max-width: 100%;
    }

    .xlTitle {
        font-size: 50px;
    }

    .mainTitle {
        font-size: 30px;
    }

    .container-theme {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .flxdir_col_mob,
    .servicesSec,
    .serviceContainer,
    .consultSec .container-theme,
    .footNav {
        flex-direction: column;
    }

    .px-113,
    .servImgArea,
    .serviceTitle {
        padding-left: 12px;
        padding-right: 12px;
    }

    .mainHeader .headerInner {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }

    .projGrid {
        grid-row: 1;
        grid-column: 1;
    }

    .formVidCol .contFormArea {
        align-items: normal;
    }

    .resoTabArea {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-height: 900px) {
    .servicehidInfo {
        height: 35%;
    }
}

/* Responsive styles end */